html{
    scroll-behavior: smooth;
}

h2.ontop {
    position: relative;
}

.img_Profile {
    border-radius: 90%;
}

.card_wood
{
    background-image: url(Assets/PlainWood.jpg);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-position: relative; 
    background-size: cover; 
    background-blend-mode:luminosity; 
}

.mySlides 
{
    display:none;
}
