html{
  scroll-behavior: smooth;
}


.hero-image {
  background-image: url("Assets/Tools.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  
}

h2.ontop {
  position: relative;
}

img {
  border-radius: 90%;
}

